.nav-bar {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}
.links {
  display: flex;
  align-items: center;
  margin-right: 50px;
  color: white;
}
.header {
  text-align: center;
  padding: 10px;
}

.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  place-items: center;
  padding-bottom: 20px;

}
.product{
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 5px;
}

.description{
  text-align: center;
  width:70%;
  display: flex;
  justify-content: space-around;
  margin:auto
  
}
.btn-box{
  width:35%;
  margin: auto;
  padding-bottom: 5px;
 
}
.btn{
  padding:10px;
  background-color: black;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.btn:hover{
  background-color: gray;
}

.cart{
 width: 50%;
 margin: auto;
 padding: 10px 10px;
}
.cart-items{
display: flex;
justify-content: space-around;
border: 2px solid black;
padding: 5px;
margin-bottom: 5px;
text-align: center;
align-items: center;
}

.cart.cc{
  position: relative;
  
}

.length{
  position: absolute;
  color: white;
  top:10px;
  padding: 5px;
  border-radius: 50%;
  right:40px;
  font-size: small;
  font-weight: bold;
  
}